/* Main navbar */
.wrapper {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/87224/pexels-photo-87224.jpeg');
background-size: cover;
background-position: center;
height: 40vh;
display: flex;
justify-content : center;
align-items: center;
margin-bottom: 15px;
}

.content {
  width: 900px;
  text-align: center;
  h2 {
    color: white;
  }
}
