// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-size {
  width : 900px;
}

.list-colored  a{
  color: #476268;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration:none;
    opacity: 0.6;
  }
}

.text-colored h1, h3, ul{
  color:  #476268;
}

.text-colored h3 {
  font-size: 20px;
}

.text-colored h1 {
  font-weight: bolder;
  font-size: 25px;
}



.product-body {
  flex: 1 1 auto;
  h3 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 0;

 }
  a {
    text-decoration: none;
    color: rgb(100,100,100);
    &:hover{
      color: #74D3AE ;
    }
  }
  p {
    font-weight: lighter;
    color: #999999 ;
    margin-bottom: 0;
  }
}

.product {
  width: 900px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  &:hover {
  background: #f7f7fa ;
  cursor: pointer;
  color: #E6E6E6 ;
  transform: scale(1.2);
  }
}
